@import '../../../styles/globals';


.listLink {
  margin-bottom: @hMargin;

  &.listLinkThumbView {
    margin-right: @hPadding;
    min-width: 250px;
    max-width: 350px;
    background-color: @tertiaryThemeColor;
  }

  &.listLinkInlined {
    display: inline-block;
    margin-right: 7px;
  }
  a {
    padding: @hPadding @vPadding;
    //padding-bottom: @hPadding + @hPadding;
    transition: all @defaultTransitionTimeout;
    display: inline-block;
    width: 100%;
    line-height: 1.2em;
    background: @tertiaryThemeColor;

    .linkListTitle {

    }

    .listLinkThumb {
      display: inline-block;
      float: left;
      padding-right: @vPadding;
      margin-bottom: @hPadding;
      width: 100px;
    }

    .listLinkSubtext {
      color: darken(@mainLinkColor, 12%);
      font-size: .9em;
      line-height: 1.5em;
    }

    .subtext {
      display: block;

    }

    &:focus {
      background: @tertiaryThemeColor;
      color: inherit;
      text-decoration: none;
      outline: none;
    }

    &:hover, &:active {
      color: inherit;
      background: @mainLinkHoverColor;
      box-shadow: 3px 3px 10px @secondaryThemeColor;

      .listLinkSubtext {
        color: @mainLinkColor;
      }
    }

  }

  h3 {
    margin-bottom: @smallPadding;
  }

  @media (max-width: @smallScreen) {

    width: 100%;
    max-width: 100%;
    margin-right: 0px;

    .listLinkThumb {
      width: 80px;
    }

  }
}
