@import '../../../styles/globals';


.listLink {
    &.listLinkThumbView {
      margin: 0 4px 4px 0;
      background-color: @tertiaryThemeColor;
    }
    a {
      padding: @hPadding @vPadding;
      transition: all @defaultTransitionTimeout;
      display: inline-block;
      width: 100%;
      line-height: 1.2em;

      .listLinkThumb {
        display: inline-block;
        float: left;
        margin-right: 5px;
        width: 50px;
      }

      .listLinkSubtext {
        color: darken(@mainLinkColor, 25%);
        font-style: italic;
        font-size: 1.2em;
        line-height: 1.5em;
      }

      &:focus {
        background: @tertiaryThemeColor;
        color: inherit;
        text-decoration: none;
        outline: none;
      }

      &:hover {
        color: inherit;
        background: @mainLinkHoverColor;
      }
    }
}
