@import '../../../../styles/globals';

.artsArtist {

  .imageGrid {
    display: flex;
    flex-flow: row wrap;

    .thumbnail {
      display: inline-block;
      //flex: 1 1 25%;
      width: 100px;
      vertical-align: top;
      margin: 0 4px 4px 0;
      background-color: @tertiaryThemeColor;
      border-color: lighten(@mainThemeColor, 5%);
      transition: all .2s;
      word-wrap: break-word;

      a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: .8em;

        img {
          width: 100%;
        }
      }

      &:hover, &:focus, &:active {
        background: @mainLinkHoverColor;

        a {
          color: white;
        }
      }
    }

    @media(max-width: @smallScreen) {
      .thumbnail {
        width: 43vw;
      }
    }
  }
}
