@import '../../../../styles/globals';

.artsArtist {

  .artsArtistTitle, .artsArtistBio {
    margin-bottom: @hMargin;
  }

  h1 {

    .fname {
      color: darken(@mainTextColor, 10%);
      font-weight: normal;
    }

    .lname {
      font-weight: bold;
    }
  }

  .imageGrid {
    display: flex;
    flex-flow: row wrap;

    .thumbnail {
      display: inline-block;
      //flex: 1 1 25%;
      width: 130px;
      vertical-align: top;
      margin: 0 4px 4px 0;
      background-color: @tertiaryThemeColor;
      border-color: lighten(@mainThemeColor, 5%);
      transition: all @defaultTransitionTimeout;
      word-wrap: break-word;

      a {
        display: block;
        width: 100%;
        height: 100%;


        h3 {
          font-size: 1em;
          padding-top: @hPadding;
        }

        img {
          width: 100%;
        }
      }

      &:hover, &:focus {
        background: @artLinkHoverColor;

        a {
          color: white;
        }
      }

      &:active {
        a {
          img {
            width: 95%;
          }
        }
      }
    }

    @media(max-width: @smallScreen) {
      .thumbnail {
        width: 43vw;
      }
    }
  }
}
