@import '../../styles/colors';

.globalFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: @mainHighlightColor;
  color: @mainLinkColor;
  padding: .5em 2em;

  .copyright {
    font-size: .9em;
  }
}
