@import '../../styles/globals';

.globalFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .9;
  background: @secondaryThemeColor;
  color: @mainLinkColor;

  .copyright {
    display: inline-block;
    font-size: .9em;
    margin: 0 @vMargin;
    padding: @hPadding @vPadding;
  }
}
