@import '../../../../styles/globals';


.literatureHome {

  .titlesContainer {
    display: inline-block;
    vertical-align: top;
    margin-top: @hMargin;

  }

  .authorsList, .genresList {


  }

  .authorsList {
    column-count: 2;
    -moz-column-count: 2;

  }

  .genresList {

  }

  @media(max-width: @smallScreen) {
    .authorsList {
      column-count: 1;
      -moz-column-count: 1;
    }

    .listLink a {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
