@import '../../../../styles/globals';

.artsHome {

  .titlesContainer {
    display: inline-block;
    vertical-align: top;
    margin-top: @hMargin;

  }

  .artistsList, .erasList {
    .listLink a {
      &:hover {
        //background: @artLinkHoverColor;
        background: linear-gradient(to right, @artLinkHoverColor 50%, darken(@artLinkHoverColor, 10%));
      }
    }

  }

  .artistsList {
    column-count: 2;
    -moz-column-count: 2;
    column-gap: 0px;
    -moz-column-gap: 0px;
    @media(max-width: @smallScreen) {
      column-count: 1;
      -moz-column-count: 1;
    }
  }

  .erasList {

  }
}
