@import 'globals';

.list-item {
  // margin: 0;

  border-radius: $roundedEdge;
  &-link {
    display: block;
    background-color: $highlightBackgroundColor;
    color: $mainLinkColor;
    &:hover {
      color: $mainLinkHoverColor;
      background-color: $highlightBackgroundHoverColor;
    }
    &--thumbnail {
      display: flex;
      @include boxShadow('md');
    }
  }


  &-image, &-text {
    display: inline-block;
  }

  &-image {
    width: 100px;
    height: 100px;
    border-top-left-radius: $roundedEdge;
    border-bottom-left-radius: $roundedEdge;
  }

  &-desc {
    display: flex;
    flex-direction: column;
    @include padding('md');
  }
}
