@import 'globals';

$vLinkPadding: 6px;

.header {
  position: fixed;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  background-color: $secondaryThemeColor;

  @include paddingHorizontal('sm');
  @include paddingVertical('lg');

  &.artwork, &.literature {
    background-color: $secondaryLinkColor;
  }

  a {
    color: white;
  }
}
