@import 'globals';

$vLinkPadding: 6px;

.header {
  background-color: $secondaryThemeColor;

  @include paddingHorizontal('sm');
  @include paddingVertical('lg');

  &.artwork, &.literature {
    background-color: $secondaryLinkColor;
  }

  a {
    color: white;
  }
}
