@import 'globals';

$vLinkPadding: 6px;

.header {
  position: fixed;
  display: flex;
  flex-flow: row;
  align-items: center;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  background-color: $secondaryThemeColor;
  height: $globalHeaderHeight;
  border-bottom: 2px solid $artLinkHoverColor;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .5);

  @include paddingHorizontal('sm');
  @include globalGutters();

  &.artwork, &.literature {
    background-color: $secondaryLinkColor;
  }

  a {
    color: white;
  }

  h1 {
    margin: 0rem;
  }
}
