@import '../../styles/globals';

.globalHeader {
  background: @secondaryThemeColor;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  h1 {
    display: inline-block;
    margin: 0 @vMargin;
    transition: font-size, .2s;

    &.smallLogo {
      font-size: 150%;
    }

    a {
      display: inline-block;
      min-width: 220px;
      color: @mainTextColor;
      padding: @hPadding @vPadding;

      .subHead {
        vertical-align: middle;
        font-size: .8em;
        color: @darkLinkColor;
      }

      &:hover {
        text-decoration: none;
      }

      &:focus {
        text-decoration: none;
      }
    }
  }
}
