@import '../../styles/colors';

.globalHeader {
  padding: .5em 2em;
  background: black;

  h1 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;

    a {
      color: @mainLinkColor;
    }
  }
}
