@import '../../styles/globals';
@vLinkPadding: 6px;

header {
  position: fixed;
  z-index: @navBase;
  width: 100%;
  top:0;
  box-shadow: 0px 5px 25px 15px @secondaryThemeColor;

  .globalHeader {
    background: @secondaryThemeColor;
    position: relative;
    top: 0;
    left: 0;
    right: 0;

    .globalContainer {
      h1 {
        display: inline-block;
        left: 0;
        top: 0;
        //margin: 0 @vMargin;
        transition: font-size, @defaultTransitionTimeout;
        vertical-align: middle;
        margin-bottom: 0px;

        .portitudeTitle {
          //font-size: 45px;
        }

        a {
          display: inline-block;
          color: @mainTextColor;
          padding: @hPadding 0px;
          transition: all @defaultTransitionTimeout;

          .subHead {
            vertical-align: middle;
            font-size: 18px;
            color: @darkLinkColor;
            transition: all @defaultTransitionTimeout;
            border-left: 2px solid darken(@darkLinkColor, 30%);
            padding: 0px @vLinkPadding;

            &:hover {
              text-decoration: none;
              color: @secondaryLinkHoverColor;
            }
          }

          &.portitudeTitle {
            padding-right: @vLinkPadding;
          }

          &:hover {
            text-decoration: none;
            color: @secondaryLinkHoverColor;
          }

          &:focus {
            text-decoration: none;
          }
        }


      }
    }
  }

  @media(max-width: @smallScreen) {
    a {
      padding-left: 0;
      padding-right: 0;
      //hide the creator/genre link on mobile as it might get bumped down to line 2
      .subHead {
        &.subSubHead {
          display: none;
        }
      }
    }
  }

  &.smallLogo {
    box-shadow: 0px 5px 25px 15px @transparentThemeColor;

    h1 {
      font-size: 150%;

      .portitudeTitle {
        font-size: 30px;
      }
    }
  }
}
