@import '../../styles/colors';

.globalNav {
  position: relative;
  margin: 1em;
  color: #fff;
  font: 1em sans-serif;
  display: flex;
  flex-wrap: wrap;

  a {
    width: 50%;
    min-width: 250px;
    display: inline-flex;
    vertical-align: top;
    color: @mainLinkColor;
    text-decoration: none;

    .navDescription {

      background-color: black;
      border: 2px solid @mainThemeColor;
      width: 100%;
      padding: 1em;
      margin-bottom: 1em;
      margin-right: 1em;

      &:hover {
        background: #0e0e1a;
        color: palegoldenrod;
      }

      &.selected {
        background: @mainHighlightColor;
        border-color: #2e2e3a;

        color: lighten(palegoldenrod, 10%);
      }
    }
  }

  @media(max-width: 450px) {
    a {
      //display: block;
      width: 100%;
    }
  }
}
