@import '../../styles/globals';

.globalNav {
  background-color: @tertiaryThemeColor;
  margin-bottom: @hMargin;
  box-shadow: 0px 0px 25px @secondaryThemeColor;
  //border-bottom: 2px solid lighten(@tertiaryThemeColor, 10%);

  .globalContainer {
    margin: 0em auto 0em auto;
    color: #fff;
    display: flex;
    flex-wrap: wrap;

    .frontp {
      img {
        width: 100%;
      }
    }

    a {
      width: 50%;
      min-width: 250px;
      //display: inline-flex;
      vertical-align: top;
      text-decoration: none;
      //background-color: @tertiaryThemeColor;
      transition: all .2s;
      color: #fff;

      &.selected {
        //background: linear-gradient(to left, @mainLinkHoverColor, @tertiaryThemeColor);
        //color: @mainTextColor;

        &:nth-child(2) {
          //background: linear-gradient(to right, @mainLinkHoverColor, @tertiaryThemeColor);
        }
      }

      &.unselected {
        color: @darkLinkColor;
      }

      .navDescription {
        padding: @hPadding 0%;

        .navImage {
          position: relative;
          margin: @hPadding 0%;
          width: 100%;
          height: 200px;
          //max-width: 400px;
          background-size: cover;
          background-position: 50% 30%;
          transition: height .2s;

          &.subPage {
            height: 75px;
          }
        }
        .navImage.navLit {
          background-image: url('http://portitude.org/arts/harnett/1878-job_lot_cheap.jpg');
          transition: all .2s;

        }

        .navImage.navArt {
          background-image: url('http://portitude.org/arts/waterhouse/1916-tale_from_the_decameron.jpg');
          transition: all .2s;

        }

        .navTitle {
          background: linear-gradient(to top, rgba(0, 0, 0, .85), rgba(0, 0, 0, 0));
          padding: @vPadding;
          padding-top: @vPadding + @vMargin;
          position: absolute;
          bottom: 0px;
          left: 0px;
          right: 0px;
          .title {
            font-size: 1.8em;
            margin: 0;
          }

          /*.icon {
            margin-right: 5px;
            font-size: .8em;
            float: left;
            opacity: .5;
          }*/

          .desc {
            display: block;
            margin-top: 4px;

            &.subPage {
              display: none;
            }
          }
        }
      }

      &:hover {
        color: @secondaryLinkHoverColor;
      }
    }


  }

  &.litSelected {
    background: linear-gradient(to right, @mainLinkHoverColor, @tertiaryThemeColor);
    color: @mainTextColor;
    .navArt {
      opacity: .3;
    }
  }
  &.artSelected {
    color: @mainTextColor;
    background: linear-gradient(to left, @mainLinkHoverColor, @tertiaryThemeColor);
    .navLit {
      opacity: .3;
    }
  }
  @media(max-width: @smallScreen) {
    box-shadow: none;
    .globalContainer {
      a {
        width: 100%;

        /*&.selected {
          background: linear-gradient(to right, @mainLinkHoverColor, @tertiaryThemeColor);
        }*/

        .navDescription {
          padding: 0px;

          .navImage {
            height: 100px;

            .navTitle {
              padding-top: @vPadding;

              .title {
                font-size: 1.3em;
              }
            }
          }
        }
      }
    }

    &.litSelected {
      background: linear-gradient(to bottom, @mainLinkHoverColor, @tertiaryThemeColor);

      .globalContainer {
        .navDescription {
          padding: @hPadding;
          .navImage.subPage {
            background: transparent;
            height: 20px;

            .navTitle {
              background: transparent;
              padding: 0;

              .title {
                font-size: 1.1em;
              }
            }
          }
        }
      }
    }
    &.artSelected {
      background: linear-gradient(to top, @mainLinkHoverColor, @tertiaryThemeColor);

      .globalContainer {
        .navDescription {
          padding: @hPadding;

          .navImage.subPage {
            background: transparent;
            height: 20px;

            .navTitle {
              background: transparent;
              padding: 0;

              .title {
                font-size: 1.1em;
              }
            }
          }
        }
      }
    }

  }
}
