@mainThemeColor: #1E1E2A;
@mainHighlightColor: #0E0E1A;
@mainTextColor: lighten(@mainThemeColor, 70%);
@mainLinkColor: darken(@mainTextColor, 20%);
@darkLinkColor: darken(@mainTextColor, 30%);
@mainLinkHoverColor: LightSeaGreen;
