@import 'normalize';
@import 'globals';
@import 'modal';
@import 'pagination';

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

div {
  outline: none;
}

body {
  //background: linear-gradient(to left, $tertiyarnaryThemeColor, lighten($tertiaryThemeColor, 15%));
  //background-image: url('../images/darkfabric.png');
  background-color: lighten($mainThemeColor, 5%);
  color: $mainTextColor;
  margin: 0rem;
  padding: 0rem;
  font-size: 1.6rem;
  font-family: 'PT Sans', sans-serif;

  @media(max-width: $smallScreen) {

  }
}

a {
  color: #aaa;
  text-decoration: none;
  transition: .2s all;

  &:hover, &:active, &:focus {
    color: #FFF;
  }

  &:focus {
    outline: 1px solid rgba(255, 255, 255, .4);
  }
}

h1, h2, h3, h4 {
  font-family: 'Catamaran';
  margin: 0rem;
}

h1 {
  margin: 0rem 0rem 1rem 0rem;
}

ul {
  padding-left: 0rem;
}

li {
  list-style: none;
  margin-bottom: 2rem;
}

p {
  margin: 0rem 0rem 1rem 0rem;
}

pre {
  font-family: inherit;
}

#portitude {
  position: relative;
  min-height: 100%;
  padding-top: $globalHeaderHeight;
  padding-bottom: $globalFooterHeight;
}

.artwork {
  background-color: $artwork_theme;
}

.literature {
  background-color: $literature_theme;
}

.view {
  @include paddingHorizontal('lg');
  @include globalGutters();
}

.listItem {
  font-size: $listItemHeadline;
}

// artwork styles
.thumbContainer {
  display: flex;
  font-size: $listItemHeadline;
  background-color: rgba(255, 255, 255, .1);
  border-radius: .5rem;
  box-shadow: .4rem .4rem 1.4rem rgba(0, 0, 0, .3);
  color: rgba(#FFF, .6);

  &--image, &--text {
    display: inline-block;
  }

  &--image {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }

  &--text {
    display: inline-block;
    padding: 1rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
  }

  &:hover {
    background-color: rgba(#000, 0);
  }
}
