@import 'normalize';
@import 'globals';
@import 'pagination';

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 16px;

  @include mobile {
    font-size: 14px;
  }
  // font-size: 10px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

div {
  outline: none;
}

body {
  //background: linear-gradient(to left, $tertiyarnaryThemeColor, lighten($tertiaryThemeColor, 15%));
  //background-image: url('../images/darkfabric.png');
  background-color: $mainThemeColor;
  color: $text_dark;
  margin: 0rem;
  padding: 0rem;
  font-size: 1rem;
  font-family: 'PT Sans', sans-serif;

  @media(max-width: $smallScreen) {

  }
}

a {
  color: $text_link_dark;
  text-decoration: none;
  transition: .2s all;

  &:hover, &:active, &:focus {
    color: inherit;
  }

  &:focus {
    outline: 1px solid rgba(255, 255, 255, .4);
  }
}

h1, h2, h3, h4 {
  font-family: 'Catamaran';
  margin: 0rem;
}

h1 {
  margin: 0rem 0rem 1rem 0rem;
}

ul {
  padding-left: 0rem;
}

li {
  list-style: none;
  margin-bottom: 1rem;
}

p {
  margin: 0rem 0rem 1rem 0rem;
}

pre {
  font-family: inherit;
  margin-top: 0;
}

#portitude {
  position: relative;
  min-height: 100%;
}

.view {
  @include paddingHorizontal('lg');
  @include globalGutters();
}

.listItem {
  font-size: $listItemHeadline;
}

.nomargin {
  margin: 0;
}
