@import 'normalize';
@import 'globals';
@import 'modal';

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}d
*, *:before, *:after {
  box-sizing: inherit;
}

div {
  outline: none;
}

body {
  //background: linear-gradient(to left, $tertiaryThemeColor, lighten($tertiaryThemeColor, 15%));
  //background-image: url('../images/darkfabric.png');
  background-color: lighten($mainThemeColor, 5%);
  color: $mainTextColor;
  margin: 0rem;
  padding: 0rem;
  font-size: 1.6rem;
  font-family: 'PT Sans', sans-serif;

  @media(max-width: $smallScreen) {

  }
}

a {
  color: #aaa;
  text-decoration: none;

  &:hover, &:active, &:focus {
    color: #FFF;
  }

  &:focus {
    outline: 1px solid rgba(255, 255, 255, .4);
  }
}

h1, h2, h3, h4 {
  font-family: 'Catamaran';
  margin: 0rem;
}

h1 {
  margin: 0rem 0rem 1rem 0rem;
}

ul {
  padding-left: 0rem;
}

li {
  list-style: none;
  margin-bottom: 2rem;
}

pre {
  font-family: inherit;
}

#portitude {
  position: relative;
  min-height: 100%;
  padding-top: $globalHeaderHeight;
  padding-bottom: $globalFooterHeight;
}

.artwork {
  background-color: #454;
}

.literature {
  background-color: #545;
}

.view {
  @include paddingHorizontal('lg');
  @include globalGutters();
  //@include paddingVertical('lg');
}

// artwork styles
.thumbContainer {
  display: inline-block;
  font-size: 2.4rem;
  background-color: rgba(0, 0, 0, .2);

  &--image {
    display: inline-block;
    margin-right: 10px;
  }
}
