@import 'normalize';
@import 'globals';

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $tertiaryThemeColor;
  color: $mainTextColor;
  margin: 0rem;
  padding: 0rem;
  font-size: 1.6rem;

  @media(max-width: $smallScreen) {

  }
}

h1 {
  margin: 0rem 0rem 0rem 1rem;
}

li {
  list-style: none;
}

.portitude {

  &.artwork {

  }

  &.literature {

  }
}

.globalView {
  @include paddingHorizontal('sm');
  @include paddingVertical('lg');
}
