@import 'normalize';
@import 'globals';

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(to left, $tertiaryThemeColor, lighten($tertiaryThemeColor, 15%));
  background-image: url('../images/darkfabric.png');
  color: $mainTextColor;
  margin: 0rem;
  padding: 0rem;
  font-size: 1.6rem;

  @media(max-width: $smallScreen) {

  }
}

a {
  color: #aaa;
}

h1 {
  margin: 0rem 0rem 0rem 1rem;
}

ul {
  padding-left: 0rem;
}

li {
  list-style: none;
}

#portitude {
  position: relative;
  min-height: 100%;
  padding-bottom: $globalFooterHeight;


  &.artwork {

  }

  &.literature {

  }
}

.view {
  @include paddingHorizontal('lg');
  @include paddingVertical('lg');
}
