@import 'normalize';
@import 'globals';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



body {
  background: @mainThemeColor;
  color: @mainTextColor;
  //font: 1rem 'Frutiger', 'Helvetica Neue', sans-serif;

  h1, h2, h3 {
    font-weight: 400;
    margin: 0;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  ul {
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
   }

   li {
    text-indent: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
  }


  a {
    text-decoration: none;
    color: @mainLinkColor;

    &:hover {
      color: @mainLinkHoverColor;
      text-decoration: none;
    }
  }


  pre {
    font: inherit;
  }
  .section {
    margin: @vMargin;
    padding: @hMargin;
  }

  .modal-container {
    position: relative;
  }

  .modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
  }

  .modal {
    .custom-modal {
      .modal-content {
        background: @mainThemeColor;
      }

      &.lightMode {
        .modal-content {
          background: #cacaca;
          color: #333333;
        }
      }
    }
  }
}
