@import 'normalize';
@import 'colors';

body {
  background: @mainThemeColor;
  color: #fff;
  font: 1em 'Frutiger', 'Helvetica Neue', sans-serif;

  h1 {
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }

  .section {
    margin: 1em;
  }
}
