@headerHeight: 33px;
@navHeight: 38px;
@footerHeight: 38px;
@disabledTextColor: lighten(@secondaryThemeColor, 25%);

.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}


.modal-open {
  .modal {
    overflow-y: hidden;
  }
}
