@headerHeight: 33px;
@navHeight: 38px;
@footerHeight: 38px;
@disabledTextColor: lighten(@secondaryThemeColor, 25%);

.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}


.modal-open {
  .modal {
    overflow-y: hidden;
  }
}

.modal {
  /*::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: @secondaryThemeColor;
    opacity: .5;
  }

  ::-webkit-scrollbar-track {
    background: @mainThemeColor;
  }*/

  .custom-modal {
    position: relative;
    height: 91vh;
    border-radius: 0px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .5);

    .lightMode {
      background: #cacaca;
      color: #333333;
    }

    .darkMode {
      background: @mainThemeColor;
      color: darken(@mainTextColor, 10%);
    }

    .modal-content {
      height: 91vh;
      overflow: hidden;
      background: transparent;
      border: none;

      button {
        display: inline-block;
        margin-right: 4px;
        color: darken(@mainTextColor, 20%);
        //background: lighten(@tertiaryThemeColor, 10%);
        background: transparent;
        border: 1px solid lighten(@tertiaryThemeColor, 10%);
        border-radius: 4px;
        transition: background-color .2s;

        &:hover {
          background-color: lighten(@tertiaryThemeColor, 20%);
        }

        &:active {
          background-color: @mainLinkHoverColor;
        }

        &:disabled {
          cursor: default;
          //color: lighten(@secondaryThemeColor, 15%);
          color: @disabledTextColor;
          border-color: lighten(@secondaryThemeColor, 15%);
          &:hover {
            background-color: transparent;
          }
        }
      }


      .modal-header {
        background: linear-gradient(to top, @secondaryThemeColor, lighten(@secondaryThemeColor, 7%));
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        height: @headerHeight;
        text-align: center;
        border: none;
        z-index: 1800;
        border-radius: 4px 4px 0 0;
        padding: 4px;

        h1 {
          display: inline-block;
          font-size: .75em;
          transition: font-size, .2s;
          color: darken(@mainTextColor, 20%);
        }

        button {
          //background-color: #444444;
          background: transparent;
          font-weight: 400;

          &.close {
            border: none;
            background-color: transparent;
            font-size: 1.5em;
          }
        }
      }

      .modal-nav {
        position: sticky;
        height: @navHeight;
        z-index: 1700;
        color: white;
        background: @tertiaryThemeColor;
        color: darken(@mainTextColor, 10%);
        padding: 4px @vPadding;
        border-radius: 0;

        .readingMenu {
          .readerDropdown {
            min-width: 30px;
            padding: 4px;

            &:focus {
              background: @tertiaryThemeColor;
              color: @mainTextColor;
            }
          }
        }

        .readingControls {
          float: right;
          display: inline-block;

          .textSizing {
            border: 1px solid lighten(@tertiaryThemeColor, 10%);
            display: inline-block;
            margin-right: 4px;
            //background: lighten(@tertiaryThemeColor, 10%);
            background: transparent;
            border-radius: 4px;

            .textSizingGlyph {
              color: darken(@mainTextColor, 40%);
              display: inline-block;
              margin: 0 4px;
            }

            button {
              margin: 0;
              border: none;
            }
          }

          .readingModeButton {

          }

          button {
            text-align: center;

            .lightMode {
              background: transparent;
              color: palegoldenrod;
            }

            .darkMode {
              background: transparent;
              color: @disabledTextColor;
            }
          }
        }
      }

      .modal-body {
        position: absolute;
        top: calc(@headerHeight + @navHeight);
        bottom: @footerHeight;
        left: 0;
        right: 0;
        transition: background-color .2s;
        overflow: auto;
        font-family: sans-serif;

        &.readerOverlay {
          display: none;
          opacity: .75;
          background: @mainThemeColor;
          margin-bottom: calc(0 - @footerHeight);
          z-index: 1600;
        }

        .modal-title {
          border-bottom: 1px solid @tertiaryThemeColor;
          padding-bottom: 5px;
          margin-bottom: 15px;

          h1 {
            transition: all .2s;
            font-size: 1.7em;
            font-weight: bold;
          }

          h2 {
            transition: all .2s;
            font-size: 1.4em;
          }

          &.smallTitles {
            opacity: .5;
            h1 {
              font-size: 1.1em;
            }

            h2 {
              font-size: .9em;
              line-height: 1.2em;
            }
          }
        }

        .htmlContent {
          &.smFont {
            font-size: inherit;
          }
          &.mdFont {
            font-size: 1.2em;
            line-height: normal;
          }
          &.lgFont {
            font-size: 1.3em;
            line-height: normal;
          }
        }
      }

      .modal-buffer-top {
        position: fixed;
        top: 150px;
        width: 100%;
        height: 10px;
        background: linear-gradient(to bottom, rgba(202, 202, 202, 1), rgba(202, 202, 202, 0));
      }

      .modal-buffer-bottom {
        position: fixed;
        bottom: 50px;
        width: 100%;
        height: 10px;
        background: linear-gradient(to top, rgba(202, 202, 202, 1), rgba(202, 202, 202, 0));
      }

      .modal-footer {
        border-radius: 0 0 6px 6px;
        position: absolute;
        text-align: center;
        bottom: 0;
        left: 0;
        right: 0;
        height: @footerHeight;
        background: @tertiaryThemeColor;
        color: darken(@mainTextColor, 10%);
        border: none;
        padding: 4px @vPadding;

        button {
          //font-size: 11px;

          &.closeModal {
            float: right;
          }
        }

        .modal-pagination {
          display: inline-block;

          .paginationDirector {
            button {
              margin-right: 4px;

            }
          }

          .paginationLocator {
            color: darken(@mainTextColor, 20%);
            display: inline-block;
            width: 70px;
          }
        }
      }
    }
    @media (min-width: 768px) {
      .modal-content {
        .modal-body {
          padding: 20px 40px;
        }
        .modal-nav, .modal-footer {
          padding-left: 40px;
          padding-right: 40px;
        }
      }
    }
    @media (max-width: 767px) {
      .modal-content {
        button {
          font-size: 1.2em;

          &.readerDropdown {
            font-size: 1em;
          }
        }

        .dropdown-menu li a {
          font-size: 1.2em;
          padding: 10px @vPadding;
          //padding: 6px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .modal-dialog {
      margin: 15px auto;
    }
  }
  @media (max-width: 767px) {
    .modal-dialog {
      margin: 5px;
    }
  }
}
