
.portitudeModal {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin: 2rem auto 4rem auto;
  width: 60rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 40px rgba(0, 0, 0, .5);

  .literature & {
    background: rgba($literature_theme, .8);
  }

  .artwork & {
    background: rgba($artwork_theme, .8);
  }

  &--header, &--body, &--footer {
    flex: 0 1 auto;
    padding: 1rem 2rem;
  }

  &--header {
    background-color: $secondaryThemeColor;
  }

  &--body {
    max-height: 100%;
    padding: 1rem 2rem;
    overflow-y: auto;
    line-height: $default_line_height;
  }

  &--footer {
    padding: 1rem;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    background: rgba(black, .75);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include mobile {
    width: 95vw;
    margin: 1rem auto 2rem auto;
  }
}
