.pagination {
  display: flex;
  align-items: center;

  &--button {
    background-color: rgba(#FFFFFF, .1) !important;
    font-size: 1.2rem !important;
    width: 5rem !important;
    min-width: 5rem !important;
  }

  &--marker {
    width: 4rem;
    text-align: center;

    @include paddingVertical('md');
  }
}
