@import 'globals';

//$litImage: 'http://portitude.org/arts/harnett/1878-job_lot_cheap.jpg';
//@artImage: 'http://portitude.org/arts/waterhouse/1916-tale_from_the_decameron.jpg';
//@artImage: '../../../content/artwork/vangogh/vangogh-wheatfield-with-crows-1890.jpg';
//@artImage: 'http://portitude.org/arts/van_gogh/1889-starry_night.jpg';

.navigation {
  // margin-top: $globalHeaderHeight;
  .container {
    color: $text_link_light;
    display: flex;
    justify-content: center;
    width: 100%;
    @include paddingHorizontal('sm');
    @include globalGutters();
    transition: .3s all;

    a {
      color: $text_link_light;
    }

    &.artwork {
      background: $artwork_theme;
    }

    &.literature {
      background: $literature_theme;
    }

    &.visible {
      height: 3.2rem;
    }

    &.hidden {
      height: 1px;
      background-color: transparent;
      padding: 0;
    }
  }
}
