@import 'globals';

.typography {
  opacity: 1;
  transition: .2s all;

  &-headline {
    font-size: calc(1rem + 1vw);
  }

  &-headlineLarge {
    font-size: calc(1rem + 1vw + 10px);
  }

  &-subheadline {
    font-size: calc(.8rem + 1vw);
  }

  &-title {
    font-size: 1.9rem;
  }

  &-subtitle {
    font-size: 1.3rem;
  }

  &-header {

  }

  &-subheader {

  }

  &-listPrimary {
    font-size: 1.2rem;
  }

  &-listSecondary {
    font-size: .9rem;
    color: $mainLinkHoverColor;
    // font-style: italic;
  }

  &-paragraph {
    margin: 0;
    margin-bottom: 1rem;
  }
}
