@import 'globals';

.typography {
  opacity: 1;
  transition: .2s all;

  &-headline {
    font-size: calc(1rem + 1vw);
  }

  &-headlineLarge {
    font-size: 1.8rem;
  }

  &-subheadline {
    font-size: calc(.8rem + 1vw);
  }

  &-title {
    font-size: 2rem;
  }

  &-subtitle {
    font-size: 1.5rem;
  }

  &-header {

  }

  &-subheader {

  }

  &-listPrimary {
    font-size: $listItemHeadline;
  }

  &-listSecondary {
    font-size: 1.1rem;
    color: $mainLinkHoverColor;
    // font-style: italic;
  }

  &-paragraph {
    margin: 0;
    margin-bottom: 1rem;
  }
}
