@import 'globals';

.typography {
  opacity: 1;
  transition: .2s opacity;
  &--headline {
    font-size: calc(1rem + 1vw);
  }

  &--subheadline {
    font-size: calc(.8rem + 1vw);
  }

  &--title {
    font-size: 2rem;
  }

  &--subtitle {
    font-size: 1.5rem;
  }

  &--header {

  }

  &--subheader {

  }

  &--listPrimary {
    font-size: $listItemHeadline;
  }

  &--listSecondary {
    font-size: $listItemHeadline;
    font-style: italic;
  }
}
