@import '../../../../styles/globals';

@titlesBackground: @tertiaryThemeColor;

.literatureAuthor {

  .literatureAuthorTitle, .literatureAuthorBio {
    margin-bottom: @hMargin;
  }

  h1 {

    .fname {
      color: darken(@mainTextColor, 10%);
      font-weight: normal;
    }

    .lname {
      font-weight: bold;
    }
  }

  .authorPic {
    display: inline-block;
    padding: @vPadding;
    text-align: center;

    img {
      border: 1px solid @titlesBackground;
      max-width: 200px;
      //width: 100%;
    }
  }

  .titlesContainer {
    .genreContainer {
      margin-bottom: @hMargin;
      .titles {
        //background: @titlesBackground;
        display: flex;
        flex-wrap: wrap;

        li {
          flex-grow: 1;
          margin: @hPadding @hPadding @hPadding 0px;
          min-width: 250px;

          a {
            background: linear-gradient(to right, @titlesBackground 50%, @mainThemeColor);
            padding: @hPadding @vPadding;
            transition: all @defaultTransitionTimeout;
            display: inline-block;
            width: 100%;

            &:focus {
              background: @tertiaryThemeColor;
              color: inherit;
              text-decoration: none;
              outline: none;
            }

            &:hover {
              color: inherit;
              background: linear-gradient(to right, @litLinkHoverColor 50%, darken(@litLinkHoverColor, 10%));
              //background: @litLinkHoverColor;
              box-shadow: 3px 3px 10px @secondaryThemeColor;
            }
          }
        }
      }

      .titlesFadeOut {
        position: relative;
        top: 0;
        height: 40px;
        width: 100%;
        background: linear-gradient(to bottom, @titlesBackground, @mainThemeColor)
      }
    }
  }

  @media(max-width: 767px) {

    .authorPic {
      width: 100%;
    }

    .titlesContainer {
      .genreContainer {
        .titles {

          li {
            width: auto;
            margin-right:0px;
            min-width: auto;
          }
        }
        .titlesFadeOut {
          display: none;
        }
      }
    }
  }
}
