@import '../../../../styles/globals';
@import '../../../../styles/modal';
@import '../../../../styles/menus';

@litDisplayVPadding: 40px;
@litDisplayVPadding_sm: @vPadding;
@litDisplayHPadding: 20px;
@litDisplayHPadding_sm: 4px;
@lightModeBG: #cacaca;
/*.globalView, .globalHeader, .globalFooter {
  filter: blur(4px);
}*/
.modal {
  /*::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: @secondaryThemeColor;
    opacity: .5;
  }

  ::-webkit-scrollbar-track {
    background: @mainThemeColor;
  }*/

  .custom-modal.literature-modal {

    .lightMode {
      background: @lightModeBG;
      color: #333333;
    }

    .darkMode {
      background: @mainThemeColor;
      color: darken(@mainTextColor, 10%);
    }

    .modal-content {
      height: 91vh;
      overflow: hidden;
      background: transparent;
      border: none;

      button {
        display: inline-block;
        //margin-right: 4px;
        color: darken(@mainTextColor, 20%);
        //background: lighten(@tertiaryThemeColor, 10%);
        background: transparent;
        //border: 1px solid @activeBackgroundColor;
        border-radius: 4px;
        transition: background-color .2s;
        //min-width: 25px;
        width: 30px;
        height: 30px;
        font-size: 1.2em;
        text-align: center;

        &:hover {
          background-color: @activeBackgroundColor;
        }

        &:active{
          //background-color: @mainLinkHoverColor;
          .glyphicon {
            font-size: .9em;
          }
        }

        &:disabled {
          cursor: default;
          //color: lighten(@secondaryThemeColor, 15%);
          color: @disabledTextColor;
          border-color: lighten(@secondaryThemeColor, 15%);
          &:hover {
            background-color: transparent;
          }
        }
      }


      .modal-header {
        background: linear-gradient(to top, @secondaryThemeColor, lighten(@secondaryThemeColor, 7%));
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        height: @headerHeight;
        border: none;
        z-index: 1800;
        border-radius: 4px 4px 0 0;
        padding: 4px;

        h1 {
          display: inline-block;
          font-size: @smallHeadline;
          transition: font-size, .2s;
          color: darken(@mainTextColor, 20%);
        }

        button {
          //background-color: #444444;
          background: transparent;
          font-weight: 400;

          &.close {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            background-color: transparent;
            font-size: 2em;
          }
        }
      }

      .modal-nav {
        position: relative;
        height: @navHeight;
        z-index: 1700;
        color: white;
        background: @tertiaryThemeColor;
        color: darken(@mainTextColor, 10%);
        padding: @litDisplayHPadding_sm @litDisplayVPadding_sm;
        border-radius: 0;

        .readerDropdown {
          min-width: 30px;
          padding: 4px;
        }

        .readingMenu {
          position: relative;
        }

        .readingControls {
          position: absolute;
          top: @litDisplayHPadding_sm;
          right: @litDisplayVPadding;
          display: inline-block;

          .dropdown-menu {
            width: auto;
            min-width: auto;

            button {
              text-align: center;
              margin-bottom: 4px;

              &.lightMode {
                background: transparent;
                color: palegoldenrod;
              }

              &.darkMode {
                background: transparent;
                color: @secondaryThemeColor;
              }
            }
          }
        }
      }

      .literatureTitleSearch {
        position: relative;
      }

      .literatureTitleSearchInput {
        //margin: 5px 15px 5px 40px;
        background: @transparentTertiaryThemeColor;
        display: inline-block;
        padding: 5px 5px 5px 40px;
        border: 0;
        width: 100%;
        position: sticky;
      }

      .literatureTitleSearchClear {
        display: none;
        width: 15px;
        height: 15px;
        position: absolute;
        padding: 0px 0px 5px 4px;
        cursor: pointer;
        top: 3px;
        right: 15px;
        font-size: 1.7em;
        line-height: .85em;
        text-shadow: 0px 0px 4px lighten(@tertiaryThemeColor, 10%);
        //border-radius: 15px;
        //background: lighten(@transparentTertiaryThemeColor, 20%);
        color: lighten(@tertiaryThemeColor, 20%);
        transition: color .2s;
        &::before {
          content: "x";
        }

        &:hover {
          color: @lightModeBG;
        }

        &.show {
          display: inline-block;
        }

        @media(max-width: @smallScreen) {
          top: 7px;
        }
      }

      .readMoreMenu {
        position: absolute;
        bottom: @footerHeight;
        top: calc(@headerHeight + @navHeight);
        background-color: @transparentTertiaryThemeColor;
        z-index: 1700;
        transition: ease 0.4s;

        &.dropdown-menu {
          margin: 0;
          min-width: 0px;
          display: block;
          border-radius: 0;
          overflow-x: scroll;

          .active a {
            font-weight: bold;
            background-color: @mainLinkHoverColor;
          }
          //overflow-y: hidden;

          li a {
            &:hover {
              color: white;
            }
            @media(min-width: @smallScreen) {
              padding-left: @litDisplayVPadding;
            }
          }
        }

        &.readMoreMenuClosed {
          width: 0px;
        }
      }

      .readingControlsMenu {
        position: absolute;
        right: @litDisplayVPadding;
        top: calc(@headerHeight + @navHeight);
        z-index: 1700;
        text-align: center;
        width: 30px;
        height: 95px;
        background: @transparentTertiaryThemeColor;
        border-bottom-left-radius: @roundedEdge;
        border-bottom-right-radius: @roundedEdge;
        transition: ease height .2s;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, .3);

        .readingModeButton {
          &.lightMode {
            color: palegoldenrod;
          }
        }

        &.readingControlsMenuClosed {
          height: 0px;
          min-height: 0px;

          button {
            display: none;
          }

          .glyphicon {
            font-size: 0px;
          }
        }

      }

      .modal-body {
        position: absolute;
        top: calc(@headerHeight + @navHeight);
        bottom: @footerHeight;
        left: 0;
        right: 0;
        transition: background-color .2s;
        overflow: auto;

        .readingBody {
          transition: filter .5s;
        }

        .literatureTitle {
          border-bottom: 1px solid @tertiaryThemeColor;
          padding-bottom: 5px;
          margin-bottom: 15px;

          h1 {
            transition: all .2s;
            font-size: 1.7em;
            font-weight: bold;
          }

          h2 {
            transition: all .2s;
            font-size: 1.4em;
          }

          &.smallTitles {
            opacity: .5;
            h1 {
              font-size: 1.1em;
            }

            h2 {
              font-size: .9em;
              line-height: 1.2em;
            }
          }
        }

      }

      .modal-footer {
        text-align: center;
        height: @footerHeight;

        .modal-pagination {
          display: inline-block;

          .paginationDirector {
            button {
              margin-right: 4px;

            }
          }

          .paginationLocator {
            color: darken(@mainTextColor, 20%);
            display: inline-block;
            width: 70px;
          }
        }
      }
    }
    @media (min-width: @smallScreen) {
      .modal-content {
        .modal-body {
          padding: @litDisplayHPadding @litDisplayVPadding;
        }
        .modal-nav, .modal-footer {
          padding-left: @litDisplayVPadding;
          padding-right: @litDisplayVPadding;
        }
      }
    }
    @media (max-width: @smallScreen) {
      .modal-content {
        .dropdown-menu li a {
          font-size: 1.2em;
          padding: 10px @litDisplayVPadding_sm;
          //padding: 6px;
        }

        .modal-nav {
          .readingControls {
            right: @litDisplayVPadding_sm;
          }
        }

        .literatureTitleSearchInput {
          padding: 10px @litDisplayVPadding_sm;
        }

        .readingControlsMenu {
          right: @litDisplayVPadding_sm;
        }
      }
    }
  }
}
