@import '../../../../styles/globals';
@import '../../../../styles/modal';
@import '../../../../styles/menus';


@lightModeBG: #dbdad1;
//@lightModeBG: #d0cbc0;


.modal {
  /*::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: @secondaryThemeColor;
    opacity: .5;
  }

  ::-webkit-scrollbar-track {
    background: @mainThemeColor;
  }*/

  .custom-modal.literature-modal {

    .lightMode {
      background: linear-gradient(to top, #d0cbc0 0%, @lightModeBG 20%);
      color: #333333;
    }

    .darkMode {
      background: @mainThemeColor;
      color: darken(@mainTextColor, 10%);
    }

    .modal-content {
      overflow: hidden;
      background: transparent;
      border: none;

      button {


        &:hover, &.active {
          background-color: @activeBackgroundColor;
        }

        &:active {
          //background-color: @mainLinkHoverColor;
          .glyphicon {
            font-size: .9em;
          }
        }

        &:disabled {
          cursor: default;
          //color: lighten(@secondaryThemeColor, 15%);
          color: @disabledTextColor;
          border-color: lighten(@secondaryThemeColor, 15%);
          &:hover {
            background-color: transparent;
          }
        }
      }

      .modal-header {
        background: linear-gradient(to top, @secondaryThemeColor, lighten(@secondaryThemeColor, 7%));
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        height: @headerHeight;
        border: none;
        border-radius: 4px 4px 0 0;
        padding: 4px;

        .readingControlsToggle {
          position: absolute;
          top: @modalHPadding_sm;
          left: @modalVPadding_sm;
          display: inline-block;
        }

        h1 {
          display: inline-block;
          font-size: @smallHeadline;
          transition: font-size, @defaultTransitionTimeout;
          color: darken(@mainTextColor, 20%);
        }

        button {
          //background-color: #444444;
          background: transparent;
          font-weight: 400;

          &.close {
            position: absolute;
            top: 0;
            right: @modalVPadding_sm;
            border: none;
            background-color: transparent;
            font-size: 2em;
          }
        }
      }


      .literatureTitleSearch {
        position: relative;
      }

      .literatureTitleSearchInput {
        background: linear-gradient(to bottom, @secondaryThemeColor, lighten(@secondaryThemeColor, 10%));
        display: inline-block;
        padding: 5px 5px 5px 40px;
        border: 0;
        width: 100%;
        height: @searchHeight;
      }

      .literatureTitleSearchClear {
        display: none;
        width: 15px;
        height: 15px;
        position: absolute;
        padding: 0px 0px 5px 4px;
        cursor: pointer;
        top: 10px;
        right: 15px;
        font-size: 1.7em;
        line-height: .85em;
        text-shadow: 0px 0px 4px lighten(@tertiaryThemeColor, 10%);
        //border-radius: 15px;
        //background: lighten(@transparentTertiaryThemeColor, 20%);
        color: lighten(@tertiaryThemeColor, 20%);
        transition: color @defaultTransitionTimeout;
        &::before {
          content: "x";
        }

        &:hover {
          color: @lightModeBG;
        }

        &.show {
          display: inline-block;
        }

        @media(max-width: @smallScreen) {
          top: 9px;
        }
      }

      .literatureTitleList {
        overflow-x: hidden;
        overflow-y: scroll;
        position: absolute;
        top: @searchHeight;
        bottom: 0px;
        width: 278px;

        li a {

        }
      }


      .readMoreMenu {
        position: absolute;
        bottom: @footerHeight;
        top: @headerHeight;
        background-color: @transparentTertiaryThemeColor;
        transition: ease 0.4s;

        &.dropdown-menu {
          margin: 0;
          min-width: 0px;
          display: block;
          border-radius: 0;
          overflow: hidden;

          .active {

            a {
              background-color: @tertiaryThemeColor;
              color: @secondaryLinkHoverColor;

              &:hover {
                background-color: @tertiaryThemeColor;
              }
            }
          }

          li:nth-child(odd) {
            //background: rgba(92, 94, 98, .5);
            //box-shadow: 0px 0px 10px @secondaryThemeColor;
          }


          li a {
            display: block;
            &:hover {
              background: @litLinkHoverColor;
              color: white;
            }
            @media(min-width: @smallScreen) {
              padding-left: @modalVPadding;
            }
          }
        }

        &.readMoreMenuClosed {
          width: 0px;

          .literatureTitleList {
            //display: none;
          }
        }
      }

      .readingControlsMenu {
        position: absolute;
        left: @modalVPadding_sm;
        top: @headerHeight;
        z-index: @modalBase;
        width: 33px;
        height: 95px;
        background: @transparentTertiaryThemeColor;
        border-bottom-left-radius: @roundedEdge;
        border-bottom-right-radius: @roundedEdge;
        transition: ease height @defaultTransitionTimeout;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, .3);

        .readingModeButton {
          &.lightMode {
            background: transparent;
            color: palegoldenrod;
          }
        }

        &.readingControlsMenuClosed {
          height: 0px;
          min-height: 0px;

          button {
            display: none;
          }

          .glyphicon {
            font-size: 0px;
          }
        }

      }

      .modal-body {
        //top: calc(@headerHeight + @navHeight);
        //bottom: @footerHeight;
        //left: 0;
        //right: 0;
        opacity: 1;
        transition: all @defaultTransitionTimeout;
        overflow: auto;

        .literatureTitle {
          border-bottom: 1px solid @tertiaryThemeColor;
          padding-bottom: 5px;
          margin-bottom: 15px;

          h1 {
            transition: all @defaultTransitionTimeout;
            font-size: 1.7em;
            font-weight: bold;
          }

          h2 {
            transition: all @defaultTransitionTimeout;
            font-size: 1.4em;
          }

          &.smallTitles {
            opacity: .5;
            h1 {
              font-size: 1.1em;
            }

            h2 {
              font-size: .9em;
              line-height: 1.2em;
            }
          }
        }
        &.entered .htmlContent {
          opacity: .2;
        }
      }

      .modal-footer {
        text-align: center;
        height: @footerHeight;

        .readingMenuToggle {
          display: inline-block;
          position: absolute;
          top: @smallPadding;
          left: @modalVPadding_sm;;
        }
      }
    }
    @media (min-width: @smallScreen) {
      .modal-content {
        .modal-body {
          padding: @modalHPadding @modalVPadding;
        }
        .modal-nav, .modal-footer {
          padding-left: @modalVPadding;
          padding-right: @modalVPadding;
        }
      }
    }
    @media (max-width: @smallScreen) {
      .modal-content {


        .literatureTitleSearchInput {
          padding: 10px @modalVPadding_sm;
        }

        .readingControlsMenu {
          width: 33px;
        }
      }
    }
  }
}
