@import 'globals';

.globalFooter {
  position: absolute;
  background: $secondaryThemeColor;
  opacity: .8;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: $globalFooterHeight;

  @include paddingHorizontal('sm');
  @include globalGutters();
}
