@import '../../../../styles/globals';

.artsEra {
  .eraContainer {
    margin-top: @hMargin;

    .artistBlock {
      margin-bottom: 1em;
      display: inline-block;
      vertical-align: top;

      .contentBlock {
        //max-width: 300px;
        //display: block;

        .listLink {
          display: inline-block;
          vertical-align: top;
        }
      }

      @media (max-width: @smallScreen) {
        //display: block;

        .listLink.listLinkThumbView {

          margin-right: 0px;

          .listLinkThumb {
            width: 80px;
          }
        }
      }
    }
  }

  .listLink a {
    &:hover {
      background: @artLinkHoverColor;
    }
  }
}
