@import '../../../../styles/globals';

.artsEra {
  .eraContainer {
    margin-top: @hMargin;

    .artistBlock {
      margin-bottom: 1em;
      display: inline-block;
      vertical-align: top;

      .contentBlock {
        max-width: 300px;
      }
    }
  }
}
