@import '../../../../styles/globals';
@import '../../../../styles/modal';
@import '../../../../styles/menus';

@headerHeight: 33px;
@footerHeight: 100px;

.modal {
  .custom-modal.arts-modal {
    .artsDisplayImage {
      max-width: 100%;
    }

    .modal-content {

      .modal-header {

      }

      .modal-body {
        top: @headerHeight;
        bottom: @footerHeight;

        &.darkMode {
          background: @transparentThemeColor;
        }

        .artsTitle {
          text-align: center;
          padding-bottom: @hPadding;
          font-size: 1.7em;
          font-weight: bold;
        }

        .artsContent {
          position: relative;
          //text-align: center;
          display: flex;
          align-items: center;
          height: 60vh;
          //background: @secondaryThemeColor;

          .artsDisplayImage {
            //text-align: center;
            margin: 0 auto;
            max-height: 60vh;
            box-shadow: 5px 5px 15px @secondaryThemeColor;
          }

          .thumbArrow {
            color: #fff;
            display: flex;
            align-items: center;

            cursor: pointer;
            font-size: 2em;
            opacity: 0;
            padding: 5px;
            position: absolute;
            top: 0px;
            height: 100%;
            width: 45px;
            z-index: 1000;
            transition: all .2s;

            .glyphicon {
              text-shadow: 1px 1px 1px #000;
            }

            &.thumbArrowLeft {
              left: 0;
            }

            &.thumbArrowRight {
              right: 0;
            }


          }

          &:hover {
            .thumbArrow {
              opacity: .4;

              &:hover {
                opacity: 1;
                background: linear-gradient(to right, rgba(35, 35, 40, .75), rgba(35, 35, 40, 0));
              }

              &.thumbArrowRight:hover {
                background: linear-gradient(to left, rgba(35, 35, 40, .75), rgba(35, 35, 40, 0));
              }

              &:active {
                font-size: 1.8em;
              }
            }
          }
        }
      }

      .modal-footer {
        height: @footerHeight;
      }
    }

    &.modal-dialog {
      //width: 800px;
    }
  }
}
