@import '../../../styles/globals';

.artCarousel {
  //overflow-x: hidden;
  //margin-top: @hMargin;
  position: relative;

  .thumbArrow {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.5em;
    opacity: .5;
    padding: 5px;
    position: absolute;
    top: 0px;
    height: 85px;
    width: 30px;
    z-index: 1000;
    transition: all .2s;

    .glyphicon {
      text-shadow: 2px 2px 2px #000;
    }

    &.thumbArrowLeft {
      left: 0;

      &:hover {
        background: linear-gradient(to right, rgba(52, 54, 58, .75), rgba(35, 35, 40, 0));
      }
    }

    &.thumbArrowRight {
      right: 0;

      &:hover {
        background: linear-gradient(to left, rgba(52, 54, 58, .75), rgba(35, 35, 40, 0));
      }
    }

    &:hover {
      opacity: 1;
    }
  }

  .imageGrid {
    //overflow-x: hidden;
    display: flex;
    flex-direction: row;
    //justify-content: center;
    //align-items: center;

    .carouselThumb {
      position: relative;
      display: inline-block;
      vertical-align: top;
      padding: 4px;
      margin: 0 4px 4px 0;
      background-color: @tertiaryThemeColor;
      border-color: lighten(@mainThemeColor, 5%);
      transition: all .2s;
      word-wrap: break-word;

      a {
        display: block;
        font-size: .8em;

        img {
          width: 75px;
          max-width: 75px;
          opacity: .5;
          transition: all .2s;
        }
      }

      &.selectedThumb {
        background: @mainLinkHoverColor;

        img {
          opacity: 1;
        }
      }

      &:hover {
        background: @mainLinkHoverColor;

        a {
          color: white;

          img {
            opacity: 1;
          }
        }
      }

      @media(min-width: @smallScreen) {
        &::after {
          // position: absolute;
          // top: -12px;
          // left: 9px;
          // border-left: 5px solid transparent;
          // border-right: 5px solid transparent;
          // border-top: 5px solid #2B222A;
          // content: " ";
          // font-size: 0;
          // line-height: 0;
          // margin-left: -5px;
          // width: 0;
          content: " ";
          text-align: center;

          bottom: 95%;
          left: 50%;
          margin-left: -6px;
          border: 6px solid transparent;
          border-top-color: @mainLinkHoverColor;

        }

        &::before {
          text-align: center;
          border-radius: @roundedEdge;
          content: attr(aria-label);
          bottom: 90px;
          left: 0px;
          background: @mainLinkHoverColor;
          padding: 10px;
          transition: all 0.5s ease;
          width: 150px;

        }

        &::before,
        &::after {
          position: absolute;
          font-size: .8em;
          line-height: 1em;
          opacity: 0;
          pointer-events: none;
        }

        &:focus::before,
        &:focus::after,
        &:hover::before,
        &:hover::after {
          opacity: .9;
          transition: all 0.75s ease;
        }
      }
    }
  }
}
