@import '../../../../styles/globals';

.literatureGenre {
  .genreContainer {
    margin-top: @hMargin;

    .authorBlock {
      margin-bottom: 1em;
      vertical-align: top;

      .contentBlock {
        display: flex;
        flex-wrap: wrap;

        li {
          flex-grow: 1;
          vertical-align: top;
          //margin: @hPadding @hPadding @hPadding 0px;
          min-width: 250px;

          a {
            background: linear-gradient(to right, @tertiaryThemeColor 50%, @mainThemeColor);
            padding: @hPadding @vPadding;
            transition: all @defaultTransitionTimeout;
            display: inline-block;
            width: 100%;

            &:focus {
              background: @tertiaryThemeColor;
              color: inherit;
              text-decoration: none;
              outline: none;
            }

            &:hover {
              color: inherit;
              background: linear-gradient(to right, @litLinkHoverColor 50%, darken(@litLinkHoverColor, 10%));
              //background: @litLinkHoverColor;
              box-shadow: 3px 3px 10px @secondaryThemeColor;
            }
          }
        }
      }

      @media(max-width: @smallScreen) {

        .listLink.listLinkThumbView {
          margin-right: 0px;

          .listLinkThumb {
            width: 80px;
          }
        }
      }
    }
  }


  .listLink a {
    &:hover {
      background: @litLinkHoverColor;
    }
  }
}
