@import '../../../../styles/globals';

.literatureGenre {
  .genreContainer {
    margin-top: @hMargin;

    .authorBlock {
      margin-bottom: 1em;
      display: inline-block;
      vertical-align: top;
      margin-right: 14px;

      .contentBlock {
        max-width: 300px;
      }
    }
  }

  .listLink a {
    &:hover {
      background: @litLinkHoverColor;
    }
  }
}
