@import '../../../../styles/globals';

.literatureGenre {
  .genreContainer {
    margin-top: @hMargin;

    .authorBlock {
      margin-bottom: 1em;
      display: inline-block;
      vertical-align: top;

      .contentBlock {
        max-width: 300px;
      }
    }
  }
}
