@import 'globals';

.image {
  display: inline-block;
  position: relative;

  &-src {
    .image--thumbnail & {
      width: 100%;
      position: absolute;
      clip: rect(0px,100px,100px,0px);
    }
  }

  &--thumbnail {
    width: 100px;
    height: 100px;
  }
}
