@import 'globals';

.section {
  // display: flex;
  // width: 100%;
}

.subSection {
  max-width: 400px;
  margin-right: 15px;
  margin-bottom: 15px;

  &--link {
    display: inline-flex;
    width: 100%;
    color: $text_link_light;
    background: #888;
    padding: 10px;
    // @include paddingHorizontal('lg');
    // @include paddingVertical('lg');

    &--artwork {
      // background: $artwork_theme;
    }

    &--literature {
      // background: $literature_theme;
    }
  }
}
