@import 'globals';

.section {
  // display: flex;
  // width: 100%;
}

.subSection {
  max-width: 400px;
  margin-right: 15px;
  margin-bottom: 15px;

  &--link {
    display: inline-flex;
    width: 100%;
    color: $text_link_light;
    background: #888;
    padding: 10px;
    // @include paddingHorizontal('lg');
    // @include paddingVertical('lg');

    &:hover {
      background: #999;
    }

    &--artwork {
      border-left: 12px solid $artwork_theme;
      &:hover {
        border-left-color: lighten($artwork_theme, 10%);
      }
    }

    &--literature {
      border-left: 12px solid $literature_theme;
      &:hover {
        border-left-color: lighten($literature_theme, 10%);
      }
    }
  }
}
